@using E_Players_AspNetCore.Models
@model Equipe
@{
    ViewData  ["Title"] = "Equipes";
}

    <div class="titulo_pagina">
        <h1>Cadastro de @ViewData["Title"]</h1>
    </div>

<form class = "cadastro" method = "POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <div class="campo">
        <label>ID</label>
        <input type="text" name="IdEquipe" />
    </div>
    
    <div class="campo">       
        <label>Nome</label>
        <input type="text" name="Nome" />
    </div>

    <div class="campo">
        <label>Imagem</label>
        <input type="file" name="Imagem" />
    </div>

    <button class = "gradient btn" type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Foto</th>
    </thead>
    <tbody>
        @foreach (Equipe team in ViewBag.teams)
        {
            <tr>
               <td>@team.IdEquipe</td>
               <td>@team.Nome</td>
               <td><img src="/img/Equipes/@team.Imagem" alt = "Imagem da equipe @team.Nome" width="40"></td>
               <td><a asp-area="Link para excluir equipe" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@team.IdEquipe">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>